@import "../scss//breakpoints";

.container {
  width: 100%;
  padding: 10px;
  //height: 100vh;

  // background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  // display: flex;
  // justify-content: space-between;
  // flex-direction: column;
  //margin-bottom: 1.2rem;

  @include md {
    width: 100%;
    padding: 0;
  }
}
