@import "../scss/breakpoints";

.heroContainer {
  margin-top: 0;

  @include md {
    margin-top: 3.5%;
  }

  .heroWrapper {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include md {
      padding: 0 6.25rem;
      width: 100%;
      height: 28.7rem;
      display: flex;
      align-items: center;
      flex-direction: row;
    }

    .left {
      width: 100%;

      @include md {
        width: 50%;
        //height: 25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        //background-color: lightgreen;
      }

      h1 {
        font-size: 2.4rem;
        letter-spacing: -0.03em;
        margin-top: 20px;

        @include md {
          font-family: "Red Rose";
          font-style: normal;
          font-weight: 400;
          font-size: 2.5rem;
          //line-height: 120%;
          letter-spacing: -0.02em;
          color: #434343;
          margin-bottom: 16px;
        }

        span {
          color: #a02279;
          font-weight: 700;
        }
      }
      p {
        margin-top: 10px;

        @include md {
          font-family: "Red Rose";
          font-style: normal;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 2.2rem;
          margin-right: 0.63rem;
          color: #434343;
        }
      }
      .searchWrapper {
        display: none;
        @include md {
          width: 100%;
          margin-top: 40px;
          //height: 54.08px;
          //background-color: purple;
        }

        input {
          width: 390px;
          height: 54px;
          border: 1px solid #a3a3a3;
          background: rgba(247, 247, 247, 0.1);
          border: 1px solid #a3a3a3;
          border-radius: 8px 0px 0px 8px;
          outline: none;

          &:placeholder {
            margin-left: 50px;
          }
        }
        button {
          height: 54px;
          width: 25%;
          background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
          border-radius: 0px 8px 8px 0px;
          font-family: "Red Rose";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          border: none;
          text-align: center;
          color: #ffffff;
        }
      }
    }
    .right {
      width: 100%;
      display: flex;
      height: auto;
      height: 24rem;
      justify-content: space-evenly;
      margin-top: 30px;

      @include md {
        width: 50%;
        height: 28.7rem;
        display: flex;
        align-self: flex-start;
        justify-content: right;
        gap: 8px;
      }

      .first {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 5px;
        //margin-top: 20%;

        img {
          width: 150px;
          height: 150px;
          border-radius: 10px;

          @include md {
            width: 234px;
            height: 176px;
            border-radius: 0.94rem;
          }
        }
      }
      .second {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5px;

        img {
          width: 150px;
          height: 150px;
          border-radius: 10px;

          @include md {
            width: 234px;
            height: 176px;
            border-radius: 15px;
          }
        }
      }
    }
  }
}
